<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.himalaya.repository.HimalayaTagsDao">

	<insert id="insert" parameterType="TagsDO" >
        INSERT INTO TB_TAGS(ID,TAG_NAME,TYPE,STATUS,RANK,CREATE_TIME,CREATE_USER,MODIFY_TIME,MODIFY_USER) 
    	VALUES(#{id}, #{tagName}, #{type}, #{status}, #{rank}, #{createTime}, #{createUser}, #{modifyTime}, #{modifyUser})
    </insert>

    <update id="update" parameterType="TagsDO">
        UPDATE TB_TAGS SET tag_name=#{tagName},status=#{status} WHERE id =#{id}
    </update>

    <delete id="delete" parameterType="java.lang.Integer">
        DELETE FROM TB_TAGS WHERE id =#{id}
    </delete>

    <select id="getById" resultType="TagsDO">
        SELECT * FROM TB_TAGS WHERE ID = #{id}
    </select>

    <select id="getAll" resultType="TagsDO">
        SELECT * FROM TB_TAGS
    </select>
</mapper>